<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/front/stylesheet.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>{% block title %}Event planning {% endblock %}</title>
  
  </head>
  
  <body style="background-color:aliceblue ;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 fixed-top" style="border-bottom: 1px solid #2600ff">
      <div class="container">
        <a href="/" class="navbar-brand">Cultural <span class="text-primary">Event</span> Planner</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a href="/logout" class="nav-link">Logout</a>
              </li>
              <li class="nav-item">
                <a href="/UserEvents" class="nav-link" style="color: #2600ff;">{{user.firstName}}</a>
              </li>
              {%else %}
              <li class="nav-item">
                <a href="/login" class="nav-link">Login</a>
              </li>
              <li class="nav-item">
                <a href="/signup" class="nav-link">Sign Up</a>
              </li>
              {%endif%}
            </li>
            {% if user.is_authenticated %}
              <button type="button"  class="btn btn-primary" id="submit">Submit</button>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>   
    <div>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category==
        'notification' %}
        <div class="alert alert-danger alter-dismissible fade show" role="alert" id="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissible fade show" role="alert" id="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
      
      {% block content %} {% endblock%}
    </div>
  </body>
  
  <footer class="p-4 bg-dark text-white text-center position-relative"  style="border-top: 1px solid #2600ff" >
    <div class="container"> 
      <button type="button" class="btn btn-link">dai19187@uom.edu.gr</button>
  </div> 
  </footer>
 
  <script>
    // Get the alert element
    var alert = document.getElementById("alert");
    
    // Set a timeout function to remove the alert after 5 seconds
    setTimeout(function(){
  $('#alert').fadeOut('slow');
  }, 3000);
  </script>
</html>
