{% extends "base.html" %}
{% block content %}
<script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   

<table>
    <tr"> <h1>Πτυχιακή εργασία : Select events you want to go!</h1>
      <td >
    <div class="card">
      <div class="card-image"> 
        <figure class="image is-4by3">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
           
          </div>
          <div class="media-content">
            <p class="title is-4" id="name">John Smith</p>
            <p class="subtitle is-6">@johnsmith</p>
          </div>
        </div>
    
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris. <a>@bulmaio</a>.
          <a href="#">#css</a> <a href="#">#responsive</a>
          <br>
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
      </div>
      <button class="btn btn-outline-success my-2 my-sm-0"  id="0" >Select</button>
    </div>
      </td>
     
  </tr>
  <hr>
  
</table>

<script>
    $(document).ready(function(){
        
        var array = new Array();
      
            $(".btn-outline-success").on('click',function(){
              const btnID = document.getElementById(this.id);

                if(btnID.innerText!='Submit'){
                  var flag =false;

                  var currentRow = $(this).closest("tr");
                
                  btnID.style.backgroundColor = 'green';  
                  btnID.textContent = 'Selected!';
                  var text= currentRow.find("td:eq("+this.id+")").text();
                  
                  txt= text.trim();
                  if(!array.includes(txt))
                  {
                    array.push(txt);
                    flag = true;
                  }
                
                  if(btnID.innerText=='Selected!'&& !flag){
                      btnID.style.backgroundColor = 'white';  
                      btnID.textContent = 'Select';
                      for( var i = 0; i < array.length; i++){ 
        
                          if ( array[i] == txt) { 

                              array.splice(i, 1); 
                          }
                      }
                  }
                  console.log(array);             
                }
                // else{
                //   sessionStorage.setItem("Array", JSON.stringify(array));
                //   window.location.href='result.html';
                // }
              })
        })
  
</script>

{% endblock%}