{% extends "base.html" %}

    {% block content %}
    <head>
        <Title>{{user.firstName}}</Title>
    </head> <style>
      img.background {
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: -1;
      width: 100%;
      opacity: 0.65;
      height: 100%;
      -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
      filter: blur(7px);
      }
      </style>
<body style="text-align: center;">
    <img class = "background" src="static/img/thess.jpg" alt="Aleq">
    <p><h2>Hello  {{user.firstName}} ! This is your program you should follow in order to see the most Events : </h2></p> 
</body>
{% endblock%}
