{% extends "base.html" %}

{% block content %}
<body>
    <div class="contrainer">
        <br>
        <br>
        <div class="container py-5 text-center" style="min-height: 88vh">
            <img class="background" src="static/img/thess.jpg" alt="Aleq">
            <p>
            {% if results %}
            <h2>Hello <span class="text-primary">{{user.firstName}}</span> !<br>
                Το βέλτιστο πρόγραμμα σύμφωνα με τις προτιμήσεις σου είναι:
            </h2>
            </p>
                {%for r in results%}
                <h5 style="text-align: left;">{{r}}</h5>
                {%endfor%}
            {%else%}
                Δεν έχει δημιουργηθεί πρόγραμμα ακόμα. 
            {%endif%}
        </div>
    </div>
</body>

{% endblock%}