<!DOCTYPE html>
<html>
    <head>
        <Title>WELCOME</Title>
    </head> <style>
      img.background {
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: -1;
      width: 100%;
      opacity: 0.65;
      height: 100%;
      -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
      filter: blur(7px);
      }
      </style>
<body style="text-align: center;">
    <img class = "background" src="static/img/thess.jpg" alt="Aleq">
    <h1 >WELCOME </h1>
    <h2> This is a diploma thesis from an Applied Informatics student working on a web application into a test web server. <br>Many Theatrical events in Thessaloniki 
        to choose from! </h2> 
        <img src="static/img/kdbe.JPG" alt="" style="height: 25%; width: 25%;"> <img src="static\img\θεατρο-δασους.jpg" alt="" style="height: 25%; width: 25%;"> 
    <h2> Please if you have account <a class="nav-item nav-link" id="login" href="/login">Login</a> in order to procceed or else you can <a class="nav-item nav-link" id="signup" href="/signup"> signup </a> !!</h2>
   
</body>
</html>